body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
}

body {
  /* max-width: 750Px;
  font-size: 32px;
  margin: 0 auto; */
  color: #333;
}



body,
html {
  background-color: #fff;
}

.p-ten {
  padding: 20px;
}

.p-t-ten {
  padding-top: 20px;
}

.p-l-ten {
  padding-left: 20px;
}

.p-r-ten {
  padding-right: 20px;
}

.p-b-ten {
  padding-bottom: 20px;
}

.m-b-ten {
  margin-bottom: 20px;
}

.m-r-ten {
  margin-right: 20px;
}

.m-t-ten {
  margin-top: 20px;
}
.m-t-five {
  margin-top: 10px;
}
.m-l-ten {
  margin-left: 20px;
}
.p-l-five {
  padding-left: 10px;
}
.p-t-five {
  padding-top: 10px;
}

.flex-box {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
}

.flex-1 {
  flex: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-s-b {
  justify-content: space-between;
}

.bg-cover {
  background-size: cover;
}

.overflew {
  overflow: hidden;
}

.font-b {
  font-weight: 700;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.bg-f {
  background: #fff;
}

.bg-f5 {
  background: #F5F5F5;
}

.bg-main {
  background: #3366FF;
}

.color-f {
  color: #fff;
}


.color-3 {
  color: #333;
}

.color-6 {
  color: #666;
}

.color-9 {
  color: #999
}

.color-main {
  color: #3366FF;
}

.color-money {
  color: #E73F29;
}

.font-24 {
  font-size: 12px;
}

.font-28 {
  font-size: 14px;
}

.font-32 {
  font-size: 16px;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}


.fixed {
  position: fixed;
}

.text-center {
  text-align: center;
}

.text_over {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

